*{
    margin: 0;
}
/* menu */
.menu{
    background-color: #1C3879;
    color: white;
    font-size: 20px;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list ul{
    list-style-type: none;
    display: flex;
    
}

.menu-list ul li{
    padding-right: 100px;
      
}
.menu-list ul li:hover{
    color: #b8e6f4;
}
/* menu final*/
.banner{
    background-image: url(Tecnologia1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;

}

.texto{
    background-color: #607eaad8;
    color: black;
    height: 20vh;
}

.texto p{
    margin-top: 0%;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    
}
.txt-curso{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cursos{
    margin-top: 1%;
    
}

.cursos1{
    display: flex;
    margin: 50px 50px 50px 50px;
    width: 80%; 
    padding-top: 10px; 
    padding-left: 80px;
}

.curso1-bordas{  
    border: 2px solid #607eaad8;
    padding: 40px;
    width: 150%;
    text-align: justify;
    
    
}

.curso1-bordas .botao {
    float:right;
    cursor: pointer;
    margin-top: 10px;

}
.botao{
    padding: 12px;
    background-color: #b8e6f4;
    font-weight: bold;
    border-radius: 17px;
}
.botao:hover {
    background-color: blue;
    color: #fff;
    
}

footer{
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
}



